<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoutubeWatchTime"
        android:usesCleartextTraffic="true"
        >

        <!-- Main Activity (Splash Screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.YoutubeWatchTime.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <!-- Video Activities -->
        <activity
            android:name=".Video5Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Video10Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Video15Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Video20Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Video25Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />

        <activity
            android:name=".Video100Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" 
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".Video500Activity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" 
            android:configChanges="orientation|screenSize" />

        <!-- Debug Activity -->
        <activity
            android:name=".DebugActivity"
            android:exported="false"
            android:theme="@style/Theme.YoutubeWatchTime.Dialog" />

    </application>

</manifest>